<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Login Page</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <% if (users.length > 0) { %>
            <% users.forEach(function(user) { %>
                <tr>
                    <td><%= user._id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.phone %></td>
                </tr>
            <% }); %>
        <% } else { %>
            <tr>
                <td colspan="4">Aucune tâche disponible.</td>
            </tr>
        <% } %>
    </table>
</body>
</html>
